.adsbygoogle { display: none !important; }
.page-logo, .logo { display: none !important; }
.page-footer, .footer, .subfooter { display: none !important; }
.scroll-spy .banner { display: none !important; }
.default-bg, .footer-top.light-gray-bg { display: none !important; }
.header { display: none !important; }
#portlet { display: none !important; }
.header-top.dark{display:none!important}
